mixin product(params)
  .product
    .product__check
      +checkbox({ text: false })
    .product__info
      .product__info-pricetag
        .product__info-pricetag-price #{params.price} руб.
        if (params.name)
          .product__info-pricetag-name(data-title=params.toolbox)
            .product__info-pricetag-name-img
              img(src=params.name_icon alt="")
            .product__info-pricetag-name-text #{params.name}
      if (params.developer)
        .product__info-developer #{params.developer}, #[span #{params.developer_date}]
      .product__info-block
        .product__info-block-column
          if (params.room)
            span #{params.room}
          if (params.amount)
            span #{params.amount}
        .product__info-block-column
          if (params.area)
            span #{params.area}
          if (params.floor)
            span #{params.floor}
      .product__info-address #{params.address}
    .product__plan
      if (params.status)
        .product__plan-status(
          class=params.status ? `product__plan-status_${params.status}` : ''
        ) #{params.status_text}
      .product__plan-img
        img(src=require('@/assets/img/plan-1.png') alt="")
      .product__plan-date Добавлено 21/11/2020
